/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

body{
	font-family: 'Source Sans Pro', sans-serif;
	color: rgb(0, 0, 0);
	font-weight: 300;
	background-color: #ffffff;
}